body{
    padding-top: 50px;
}
#circle-nav .pagination{
    margin: 8px 0;
}
.navbar .navbar-brand{
    font-size: inherit;
    padding: 15px 0;
}
#publish input{
    border-color: transparent transparent lightgray transparent;
    border-radius: 0;
    box-shadow: none;
    font-size: 18px;
    padding: 6px 0;
}
#publish textarea{
    border: 0;
    box-shadow: none;
    padding: 6px 0;
    resize: none;/*去除textarea右下角样式*/
}
.upload-picture{
    position: relative;
    display: inline-block;
    padding: 0;
}
.upload-picture img{
    width: 100%;
    height: 100%;
}
.upload{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}
