body{
    background: lightgray;
}
.media{
    background: white;
    padding: 10px;
    position: relative;
}
.media .glyphicon-edit{
    position: absolute;
    right: 10px;
    top: 10px;
}
.contact-choose{
	position: absolute;
	right: 5px;
	bottom: 5px;
}